<form class="liisicontract-form" method="post">
	<input type="hidden" name="order_id" value="<?php echo $this->getFieldValue('order_id'); ?>" />
<?php
if (!$this->getFieldValue('success')) {
?>
	<input type="hidden" name="submitLiisiForm" value="1" />
	<?php
	$errors = $this->getFieldValue("error");
	if (!empty($errors)) {
		echo "<div class='alert error'>".$errors."</div>";
	}
	?>

	<div class="field-title"><?php echo __('Informācija'); ?></div>

	<div class="field">
		<label><?php echo __('Dokumenta numurs'); ?></label>
		<input type="text" name="docno" />
	</div>

	<div class="field">
		<label><?php echo __('Personas kods'); ?></label>
		<input type="text" name="idcode" />
	</div>

	<div class="field">
		<label><?php echo __('Vārds'); ?></label>
		<input type="text" name="firstname" value="<?php echo $this->getFieldValue('firstname'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Uzvārds'); ?></label>
		<input type="text" name="lastname" value="<?php echo $this->getFieldValue('lastname'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Tālrunis'); ?></label>
		<input type="text" name="phone" value="<?php echo $this->getFieldValue('telephone'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('E-pasts'); ?></label>
		<input type="text" name="email" value="<?php echo $this->getFieldValue('email'); ?>" />
	</div>

	<div class="field-title"><?php echo __('Pilsēta/ciems, pagasts'); ?></div>

	<div class="field">
		<label><?php echo __('Iela'); ?></label>
		<input type="text" name="address[street]" value="<?php echo $this->getFieldValue('address_street'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Mājas numurs'); ?></label>
		<input type="text" name="address[house]" />
	</div>

	<div class="field">
		<label><?php echo __('Dzīvoklis'); ?></label>
		<input type="text" name="address[apartment]" />
	</div>

	<div class="field">
		<label><?php echo __('Pilsēta'); ?></label>
		<input type="text" name="address[city]" value="<?php echo $this->getFieldValue('address_city'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Valsts'); ?></label>
		<input type="text" name="address[county]" value="<?php echo $this->getFieldValue('address_region'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Indekss'); ?></label>
		<input type="text" name="address[zip]" value="<?php echo $this->getFieldValue('address_zip'); ?>" />
	</div>

	<div class="field-title"><?php echo __('Devējs informācija'); ?></div>

	<div class="field">
		<label><?php echo __('Darba vieta'); ?></label>
		<input type="text" name="employer[name]" value="<?php echo $this->getFieldValue('company'); ?>" />
	</div>

	<div class="field">
		<label><?php echo __('Darba stāžs'); ?></label>
		<select name="employer[work_time]">
			<option value="up to 6 months"><?php echo __('līdz 6 mēnešiem'); ?></option>
			<option value="6-24 months"><?php echo __('no 6-24 mēnešiem'); ?></option>
			<option value="24-60 months"><?php echo __('no 24-60 mēnešiem'); ?></option>
			<option value="more than 60 months"><?php echo __('vairāk par 60 mēnešiem'); ?></option>
			<option value="self-employed"><?php echo __('Individuālais komersants'); ?></option>
			<option value="unemployed"><?php echo __('Bezdarbnieks'); ?></option>
			<option value="retired"><?php echo __('Pensionārs'); ?></option>
			<option value="parental leave"><?php echo __('Pabalsta saņēmējs'); ?></option>
		</select>
	</div>

	<div class="field">
		<label><?php echo __('Darba alga'); ?></label>
		<input type="text" name="employer[salary]" />
	</div>

	<div class="field">
		<label><?php echo __('Kredītsaistības'); ?></label>
		<input type="text" name="employer[loan]" />
	</div>

	<div class="field-title"><?php echo __('Maksājuma dati'); ?></div>

	<div class="field">
		<label><?php echo __('Kredītlīguma ilgums'); ?></label>
		<select name="payment[period]">
			<option value="2"><?php echo __('2 mēnešiem'); ?></option>
			<option value="4"><?php echo __('4 mēnešiem'); ?></option>
			<option value="6"><?php echo __('6 mēnešiem'); ?></option>
			<option value="8"><?php echo __('8 mēnešiem'); ?></option>
			<option value="10"><?php echo __('10 mēnešiem'); ?></option>
			<option value="12"><?php echo __('12 mēnešiem'); ?></option>
			<option value="18"><?php echo __('18 mēnešiem'); ?></option>
			<option value="24"><?php echo __('24 mēnešiem'); ?></option>
		</select>
	</div>

	<div class="field">
		<label><?php echo __('Pirmā iemaksa'); ?></label>
		<input type="text" name="payment[downpayment]" />
	</div>

	<div class="field-button">
		<button class="action primary confirm-button" type="submit"><?php echo __('Pieteikties'); ?></button>
	</div>

<?php
} else {
?>
	<div class="liisicontract-confirmation">
	<?php
	$success = $this->getFieldValue('success');
	if ($success == "error") {
		echo "<h1>".__('Sistēmas kļūda.').' ('.$this->getFieldValue('successComment').')'."</h1>";
	} elseif ($success == "fail") {
		echo "<h1>".__('Jūsu pieteikums tiks automātiski noraidīts, iemesls: ').__($this->getFieldValue('successComment'))."</h1>";
	} elseif ($success == "error") {
		echo "<h1>".__('Sistēmas kļūda ('.$this->getFieldValue('successComment').')')."</h1>";
	} elseif ($success == "success") {
		echo "<h1>".__('Jūsu pieteikums ir pieņemts.')."</h1>";
		$terms = $this->getFieldValue("successTerms");
		?>
		<div class="term-row">
			<div class='contract-term'><?php echo __('Pirmâ iemaksa: ').((float)$terms->DownPayment); ?>€</div>
			<div class='contract-term'><?php echo __('Periods: ').((int)$terms->ScheduleDuration)." ".__('kuud'); ?></div>
		</div>
		<div class="term-row">
			<div class='contract-term'><?php echo __('Ikmēneša: ').((int)$terms->MonthlyPayment); ?>€</div>
			<div class='contract-term'><?php echo __('līgums: ').((int)$terms->ContractFee); ?>€</div>
		</div>
		<div class="field-button"><button class='action primary confirm-button' type='submit' name='confirmContract'><?php echo __('Piekrist līgumam'); ?></button></div>
		<?php
	} elseif ($success == "pending") {
		echo "<h1>".__('Jūsu pieteikums tiek pārskatīta, mēs sazināsimies ar jums, ja pieteikums ir pārskatīts')."</h1>";
	} elseif ($success == "final_success") {
		echo "<h1>".__('Līgums ir apstiprināts, jūsu pasūtījums tiek veikts.')."</h1>";
	}
	?>
	</div>

<?php
}
 ?>

</form>