.liisicontract-form {
	padding:10px;
	background-color:#efefef;
	width:70%;
	margin-left: auto;
	margin-right: auto;
}

.liisicontract-form .field-title {
	font-size:24px;
	font-weight:700;
	margin-top:10px;
}


.liisicontract-form .field-button {
	height:50px;
}

.liisicontract-form .field-button .confirm-button {
	margin-top:20px;
	float:right;
	margin-right:10px;
}

.liisicontract-form .alert.error {
	padding:5px;
	color:#fff;
	background-color:#670000;
}

.liisicontract-confirmation h1 {
	font-size:24px;
}

.liisicontract-confirmation .contract-term {
	float:left;
	height:25px;
	padding:5px;
	width:45%;
}

.liisicontract-confirmation .term-row {
	height:35px;
	width:100%;
}